@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 237 100% 100%;
    --foreground: 237 5% 10%;
    --card: 237 50% 100%;
    --card-foreground: 237 5% 15%;
    --popover: 237 100% 100%;
    --popover-foreground: 237 100% 10%;
    --primary:237, 83%, 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 237 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 199 30% 95%;
    --muted-foreground: 237 5% 40%;
    --accent: 199 30% 90%;
    --accent-foreground: 237 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 237 5% 100%;
    --border: 237 30% 82%;
    --input: 237 30% 50%;
    --ring: 237 83% 60%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 237 50% 10%;
    --foreground: 237 5% 100%;
    --card: 237 50% 10%;
    --card-foreground: 237 5% 100%;
    --popover: 237 50% 5%;
    --popover-foreground: 237 5% 100%;
    --primary: 237 83% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 237 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 199 30% 25%;
    --muted-foreground: 237 5% 65%;
    --accent: 199 30% 25%;
    --accent-foreground: 237 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 237 5% 100%;
    --border: 237 30% 50%;
    --input: 237 30% 50%;
    --ring: 237 83% 60%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
