@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 255 100% 95%;
    --foreground: 255 5% 10%;
    --card: 255 50% 90%;
    --card-foreground: 255 5% 15%;
    --popover: 255 100% 95%;
    --popover-foreground: 255 100% 10%;
    --primary: 255 45% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 255 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 217 30% 85%;
    --muted-foreground: 255 5% 40%;
    --accent: 217 30% 80%;
    --accent-foreground: 255 5% 15%;
    --destructive: 0 100% 48%;
    --destructive-foreground: 255 5% 90%;
    --border: 255 30% 50%;
    --input: 255 30% 48%;
    --ring: 255 45% 38%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 255 50% 10%;
    --foreground: 255 5% 90%;
    --card: 255 50% 10%;
    --card-foreground: 255 5% 90%;
    --popover: 255 50% 5%;
    --popover-foreground: 255 5% 90%;
    --primary: 255 45% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 255 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 217 30% 25%;
    --muted-foreground: 255 5% 60%;
    --accent: 217 30% 25%;
    --accent-foreground: 255 5% 90%;
    --destructive: 0 100% 48%;
    --destructive-foreground: 255 5% 90%;
    --border: 255 30% 48%;
    --input: 255 30% 48%;
    --ring: 255 45% 38%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



.ScrollBar::-webkit-scrollbar {
  display: flex;
  user-select: none;
  touch-action: none;
  padding: 1px;
  background: transparent;
  width: 8px;
  height: 100%;
  border-left: 1px;
  border-left-color: transparent;
}

.ScrollBar::-webkit-scrollbar-thumb {
  flex: 1;
  background: transparent;
  border-radius: 10px;
  position: relative;
}

.ScrollBar:hover::-webkit-scrollbar-thumb {
  background: hsl(217 30% 85%);
}

.ScrollBar::-webkit-scrollbar-thumb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}